/* Box Model Hack */

* {
    box-sizing: border-box;
    margin: 0;
}


/* Clear fix hack */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}


/******************************************
  /* BASE STYLES
  /*******************************************/

 :root {
    --font: "Roboto", Arial, Helvetica, sans-serif;
    --main-grey: rgb(99, 116, 136);
    --main-white: rgb(255, 255, 255);
    --main-lightgrey: rgb(214, 218, 222);
    --main-darkgrey: rgb(22, 29, 37);
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/******************************************
/* LAYOUT
/*******************************************/

body {
    background: white;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url(camden-hailey-george-m6O-OyKniK0-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav img {
    width: 155px;
    height: 155px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.maincontainer {
    max-width: 600px;
    margin: 0 auto;
}

.main-content {
    text-align: center;
    padding: 50px 0;
}

.main-content h1 {
    font-size: 3rem;
    color: white;
}

.main-content p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 30px;
    color: white;
}

.main-content a {
    color: white;
    background: black;
    border: 1px solid black;
    border-radius: 5%;
    padding: 10px 20px;
    transition: 0.8s;
}

.main-content a:hover {
    color: black;
}

.why {
    background: var(--main-white);
    height: 280px;
}

.why h2 {
    padding: 2%;
    text-align: center;
    color: var(--main-darkgrey);
}

.why p {
    padding: 2%;
    text-align: center;
    padding: 0 35% 5% 35%;
    margin: 10px;
}

.visit {
    display: flex;
    justify-content: center;
    /* Center the items horizontally */
    align-items: center;
    /* Center the items vertically */
    background: var(--main-lightgrey);
}

.visit-gym,
.visit-personal {
    text-align: center;
    height: 450px;
}

.visit img {
    margin-top: 30px;
    height: 200px;
    width: 300px;
    /* background-image: url(camden-hailey-george-m6O-OyKniK0-unsplash.jpg);
    background-size: cover;
    background-position: center; */
}

.visit-gym p,
.visit-personal p {
    margin: 10px 30px;
    padding: 10px 10px;
}

.visit-gym a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5%;
    padding: 10px 20px;
    transition: 0.8s;
    border: 1px solid var(--main-darkgrey);
    background: var(--main-darkgrey);
}

.visit-gym a:hover {
    color: var(--main-darkgrey);
}

.visit-personal a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5%;
    padding: 10px 20px;
    margin-top: 19px;
    transition: 0.8s;
    border: 1px solid var(--main-darkgrey);
    background: var(--main-darkgrey);
}

.visit-personal a:hover {
    color: var(--main-darkgrey);
}

.volunteer {
    height: 350px;
    background: var(--main-white);
    color: var(--main-darkgrey);
    clear: both;
    text-align: center;
}

.volunteer h2 {
    padding: 2%;
    color: var(--main-darkgrey);
}

.volunteer p {
    padding: 0 35% 5% 35%;
    color: var(--main-darkgrey);
}

.volunteer a {
    color: white;
    border: 1px solid var(--main-darkgrey);
    background: var(--main-darkgrey);
    border-radius: 5%;
    padding: 10px 30px;
    transition: 0.8s;
}

.volunteer a:hover {
    color: var(--main-darkgrey);
}

footer {
    background-color: var(--main-darkgrey);
    height: 250px;
    color: var(--main-white);
}

footer section {
    float: left;
    width: 48%;
    margin-bottom: 15px;
    margin-left: 1%;
    margin-right: 1%;
}

.footer-links {
    display: inline-block;
}

.footer-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-links ul li {
    display: inline-block;
    width: 50px;
    /* Change this value as needed */
    text-align: left;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.footer-links ul li:hover {
    cursor: pointer;
    color: black;
}

.footer-info span {
    text-decoration: underline;
    cursor: pointer;
}

footer>p {
    clear: both;
    border-top: 1px solid var(--main-lightgrey);
    padding-top: 20px;
    margin: 0 20px;
}


/* --------- css for small screens ------ */

nav .fas {
    display: none;
}

@media only screen and (max-width:600px) {
    header {
        background-image: url("camden-hailey-george-m6O-OyKniK0-unsplash.jpg");
    }
    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1 {
        font-size: 30px;
    }
    nav .fas {
        display: block;
        font-size: 25px;
        color: white;
    }
    nav ul {
        background: #C5B4E3;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li {
        display: block;
        margin: 25px;
    }
    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    nav ul li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }
    .why p {
        padding: 2%;
        text-align: center;
        padding: 0 10%;
        margin: 10px;
    }
    .visit {
        flex-wrap: wrap;
        padding: 20px;
        text-align: center;
    }
    .visit img {
        height: auto;
        max-width: 100%;
    }
    .visit-gym,
    .visit-personal {
        height: auto;
        margin: 20px 0;
    }
    .visit-gym p,
    .visit-personal p {
        margin: 10px 0;
        padding: 10px 0;
    }
    .visit-gym a,
    .visit-personal a {
        margin-top: 20px;
    }
}